.App {
  text-align: auto;
}

.background {
  background-image: url("1.jpg");
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  width: 800px;
  height: 800px;
  position: fixed;
  top: 0;
  left: 0;
}

.App-link {
  color: #61dafb;
}
